# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Data
data/ 
annotations/
beats/
prueba/